<table class="table">
	<a href="/gifts/new">Add New</a>

	<tr>
		<th><a href="/gifts/sort_by/name">Gift<a/></th>
		<th><a href="/gifts/sort_by/price">Price</a></th>
		<th><a href="/gifts/sort_by/taken">Taken</a></th>
		<th> </th>
		<th> </th>
	</tr>
	<% if @gifts %>
		<% @gifts.each do |gift| %>
			<tr>
				<td>
					<a href="<%= gift.website %>"><%= gift.name %></a>
				</td>
				<td><%= '%.2f' % gift.price %></td>
				<td><%= gift.taken ? "yes" : "nope" %></td>
				<td><a href="/gifts/<%= gift.id %>/edit">Edit</a></td>
				<td><a href="/gifts/<%= gift.id %>/delete">Delete</a></td>
			</tr>
		<% end %>
	<% end %>
</table>
