<p>
	Hi! So since I'm awful at decorating and can never decide on anything, I figured I can use this opportunity to have pieces all around our home that remind us of the people we love. That way Mike and I don't have to think too hard about what throw pillow will tie the rug with the coffee table (how does one ever know?!)
</p>
<p>
	I've included some suggestions below but the most important thing is that the items be not useful in any way and that they will brighten up this home that Mike and I are starting together. We have both thrown out so much of our useful stuff since merging our two households but the place is very noticeably lacking in life.
</p>
<p>
	One last thing, we have 2 cats with very sharp claws and the will to use them, so don't get anything that they can claw through too easily, unless of course it's for the cats in which case <i>meow meow</i> in advance.
</p>
<a href="/gifts/new" class="hide-me">Add New</a>
<div class="bordered">
	<table class="table">
		<tr>
			<th><a href="/gifts/sort_by/name">Gift<a/></th>
			<th><a href="/gifts/sort_by/price">Price</a></th>
			<th><a href="/gifts/sort_by/taken">Taken</a></th>
			<th> </th>
			<th> </th>
		</tr>
		<% if @gifts %>
			<% @gifts.each do |gift| %>
				<tr>
					<td>
						<a href="<%= gift.website %>"><%= gift.name %></a>
					</td>
					<td><%= '%.2f' % gift.price %></td>
					<td><%= gift.taken ? "yes" : "nope" %></td>
					<td><a href="/gifts/<%= gift.id %>/edit">Edit</a></td>
					<td><a href="/gifts/<%= gift.id %>/delete">Delete</a></td>
				</tr>

			<% end %>
		<% end %>
	</table>
</div>
