<h1><%= @lunch.meal_name %></h1>
<h4><%= @lunch.owner %>'s lunch</h4>
<img src="<%= @lunch.photo_url %>">
			
		<% if @lunch.repeatable %>
		<p>YOU SHOULD EAT THIS!!!</p>
		<% else  %>
		<p>DON'T BOTHER EATING THIS</p>
		<% end  %>
		<p>How spicy is it?</p>
		<%= @lunch.spiciness %>
		<br>

<a href="<%= lunches_path %>">GO BACK</a>